<div class="full_background"></div>
<div class="contents">
  <br/>
  <br/>
  <form [formGroup]="resetEmailForm" (ngSubmit)="passwordReset()" novalidate>

    <div class="input">
      <div class="input-label-wrapper">
        <input type="text" id="email" formControlName="email" [ngClass]="{'shift': resetEmailForm.value.email.length }">
        <label for="email">Email</label>
      </div>
      <div class="subscript">
        <div *ngIf="email.invalid && email.touched; then warn else info"></div>
        <ng-template #info>
          <div class="info">Your email address</div>
        </ng-template>
        <ng-template #warn>
          <div class="warn">A valid email address is required</div>
        </ng-template>
      </div>
    </div>

    <div *ngIf="userError$ | async" class="error">{{userErrorString}}</div>

    <button type="submit" class="btn padding blue" [disabled]="resetEmailForm.invalid">Reset the password</button>

    <div class="linkToLogin">
      <a [routerLink]="'/login'">Back to login</a>
    </div>

  </form>

</div>
