<div *ngIf="type === 'number'">
  {{params.value > 0 ? params.value : 0}} <a *ngIf="params.value > 0" [routerLink]="url" [fragment]="fragment" > View </a>
</div>
<div *ngIf="type === 'text'">
  {{params.value}} <a [routerLink]="url" [fragment]="fragment" > View </a>
</div>
<div *ngIf="type === 'key' && params.value && params.value!==''">
  <i class="fas fa-key"></i> {{params.value}} <a [routerLink]="url" [fragment]="fragment" > View </a>
</div>
<div *ngIf="type === 'secondaryKey'">
  <div *ngIf="params.value && params.value!==''">
    <i class="fas fa-key secondaryKey"></i> {{params.value}} <a [routerLink]="url" [fragment]="fragment" > View </a>
  </div>
  <div *ngIf="(!params.value || params.value === '' ) && !readOnly" class="fakedropdown">
    <i class="fas fa-caret-down"></i>
  </div>
</div>





