/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import 'normalize';
@import 'colors';
@import 'forms';
@import 'typography';
@import 'buttons';
@import 'card';
@import 'header-view';
@import 'overlay';
@import 'range';
@import 'popper';
@import 'media';
@import 'utilities';
@import 'floorplan';
@import 'office';
@import 'footer';
@import 'swal';
@import 'toastr';
@import 'sidebar';
@import 'table';
@import 'tags';

// @import 'material';

// Global
body {
  margin: 0;
  background: $background-alt;
  height: 100%;
}

* {
  box-sizing: border-box;
}

app-root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// General
.container-lg {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  @include for-tablet-portrait-up {
    padding: 0 40px;
  }
}

.delete-tag,
.close{
  cursor: pointer;
}

.containter-full-width {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

// Error Dialog

#errorDialog {
  max-width: 300px;
  border-radius: 4px;
}

// Buttons

.mat-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.mat-button-wrapper:not(.mat-icon-button) {
  app-icon {
    margin-left: -16px;
    margin-right: 8px;
    margin-bottom: -2px;
  }
}

.mat-button-wrapper {
  mat-icon {
    margin-left: -8px;
    margin-right: 8px;
    margin-bottom: -2px;
  }
}


.topControls{
  display: inline-block;
}
.generalError{

  .title{
    font-size: 28px;
  }

  width: 100%;
  text-align: center;
  color: $red;
  font-size: 22px;
}

.loading{
  width: 100%;
  text-align: center;
  font-size: 22px;
}


.idCell{
  background: #fffdd1;
}
.readOnly{
  background: #e5fff3;
}



.ag-row-selected{
  .idCell{
    background: #afebff;
  }
  .readOnly{
    background: #afebff;
  }
}

.ag-row-hover{
  .idCell{
    background: #ebe9c0;
  }
  .readOnly{
    background: #d5ebe0;
  }
}

.right{
  text-align: right;
}




// SideMenus

.backdrop {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
}
