@import 'colors';
@import 'media';

select{
  cursor: pointer;
}

.topControls{
  .btn{
    display: inline-block;
  }
}


.loading{
  position: absolute;
  top: 280px;
  width: 600px;
  margin-left: -300px;
  left: 50%;
  background: rgba($new_background_blue, 0.8);
  z-index: 10;
  color: $white;
  padding: 8px 16px;
  font-size: 20px;
  text-align: center;
}

.noFeaturesFound{
  position: absolute;
  top: 280px;
  width: 600px;
  margin-left: -300px;
  left: 50%;
  background: rgba(211, 0, 15, 0.6);
  z-index: 10;
  color: $white;
  padding: 8px 16px;
  font-size: 28px;
  text-align: center;
}

.map-help{
  position: absolute;
  top: 280px;
  width: 600px;
  margin-left: -300px;
  left: 50%;
  background: rgba($new_background_blue, 0.85);
  z-index: 10;
  padding: 8px 16px;
  font-size: 16px;
  text-align: center;
}

.map-panel {
  margin-top: 20px;
  height: calc(100vh - 270px);
  background: white;
}


.legendElement{
  display: inline-block;
  padding: 8px 20px 0 0;
}

.legend{
  font-size: 12px;

  .veryProbable{
    color: #ff5359;
  }

  .probable{
    color: #ff999c;
  }

  .selected{
    color: #6dff66;
  }

  .before{
    color: #7978ff;
  }
}

.progress{
  width: 100%;
  font-size: 12px;
}


.hideOption{
  display: inline-block;
  margin-right: 15px;
  color: #2a2a2a;
  cursor: pointer;

  &.on{
    color: #868686;
  }
}

.selectors{
  display: inline-block;
  width: 180px;

  select{
    background: white;
  }

  * {
    font-size: 12px;
  }
  .selectMap{

  }
  .selectSource{

  }
}
