<div class="backdrop" (click)="close.emit()"></div>
<div class="sidebar" @slideInOut (swiperight)="close.emit()">
  <div class="header">
    <div class="title">Create New Layout</div>
    <div class="close" (click)="close.emit()">
      <app-icon icon="fa-times"></app-icon>
    </div>
  </div>

  <div class="description">
    <p>Provide a layout to calculate it's various properties.</p>
  </div>

  <div class="content" perfectScrollbar>

    <form [formGroup]="newLayoutForm" (submit)="submit()" novalidate>
      <mat-form-field class="input form-full-width">
        <input matInput placeholder="Layout Title" formControlName="title">
        <mat-error *ngIf="newLayoutForm.get('title').hasError('maxlength')">150 characters max</mat-error>
        <mat-error *ngIf="newLayoutForm.get('title').hasError('required')">required</mat-error>
      </mat-form-field>

      <mat-form-field class="input form-full-width">
        <textarea rows="5" matInput placeholder="Description" formControlName="description"></textarea>
        <mat-error *ngIf="newLayoutForm.get('description').hasError('maxlength')">150 characters max</mat-error>
        <mat-error *ngIf="newLayoutForm.get('description').hasError('required')">required</mat-error>
      </mat-form-field>

      <button class="btn lightblue" (click)="submit()" mat-button type="button" [disabled]="newLayoutForm.invalid">Create Layout</button>
    </form>

  </div>
  <div class="footer">
  </div>
</div>
