<div class="top_inner_background"></div>
<div class="containter-full-width">
  <div *ngIf="generalError" class="generalError" [innerHTML]="generalError"></div>
  <div *ngIf="loading && !generalError" class="loading" > Loading data... </div>
  <div *ngIf="!loading && !generalError" class="topControls">
    <div class="buttonRow">

      <button [popper]="tooltip2" class="btn blue" [disabled]="!filterModelSet"         (click)="clearFilters()">Clear Filters</button>
      <span *ngIf="!((currentProfile === 'data' || currentProfile === 'developer') && selectedNodes.length === 1) && filtersHuman" >
        <div class="separator"></div>
        <span class="filtersHuman" [innerHTML]="filtersHuman"></span>
      </span>
      <div *ngIf="(currentProfile === 'data' || currentProfile === 'developer') && selectedNodes.length === 1" class="separator"></div>
      <div *ngIf="(currentProfile === 'data' || currentProfile === 'developer') && selectedNodes.length === 1" class="floorInput">
        <form [formGroup]="sourceForm" class="form" (ngSubmit)="changeSource(false)" novalidate>
          <span class="label">Floor: </span><input id="floor" formControlName="floor" type="text" placeholder="Floor number" />
          <span class="label">Source: </span><input id="sourceUrl" formControlName="sourceUrl" type="text" placeholder="Url to source" />
          <button class="btn blue" [popper]="tooltipAddSource" [disabled]="sourceForm.invalid" >Add source</button>
        </form>
        <div *ngIf="previousSources" class="separator"></div>
        <button *ngIf="previousSources" class="btn blue" [popper]="tooltipClearSource" (click)="changeSource(true)" >Clear source</button>
      </div>
      <div *ngIf="(currentProfile === 'data' || currentProfile === 'developer') && selectedNodes.length !== 1" class="floorInput info">
        <i class="fa fa-info-circle icon-info"></i> Select only one layout to add a floorplan source.
      </div>

      <div style="float: right">
        <button *ngIf="currentProfile === 'data' || currentProfile === 'developer'" [popper]="tooltip4" [popperPlacement]="'top-end'" class="btn blue" [disabled]="selectedNodes.length <= 0" (click)="georeferenceAuto()"  >Geo. Auto({{selectedNodes.length}})</button>
        <button *ngIf="currentProfile === 'data' || currentProfile === 'developer'" [popper]="tooltip5" [popperPlacement]="'top-end'" class="btn blue" [disabled]="selectedNodes.length <= 0" (click)="georeference()" >Geo. ({{selectedNodes.length}})</button>
        <button *ngIf="currentProfile === 'data' || currentProfile === 'developer'" [popper]="tooltip6" [popperPlacement]="'top-end'" class="btn blue" [disabled]="selectedNodes.length <= 0" (click)="georeferenceOSM()" >Geo. OSM ({{selectedNodes.length}})</button>
        <div *ngIf="currentProfile === 'data' || currentProfile === 'developer'" class="separator"></div>
        <!-- <button *ngIf="currentProfile === 'data' || currentProfile === 'analyst' || currentProfile === 'developer'" [popper]="tooltip13" [popperPlacement]="'top-end'" class="btn blue" (click)="getSimulationStatus()" [disabled]="selectedNodes.length <= 0"  > Get Sim Status. ({{selectedNodes.length}})</button> -->
        <button *ngIf="currentProfile === 'data' || currentProfile === 'analyst' || currentProfile === 'developer'" [popper]="tooltip14" [popperPlacement]="'top-end'" class="btn lightblue" (click)="startSimulations()" [disabled]="selectedNodes.length <= 0"  > Start Sims. ({{selectedNodes.length}})</button>
      </div>
    </div>
    <div class="buttonRow">
      <button [popper]="tooltip1" class="btn blue" [disabled]="selectedNodes.length <= 0" (click)="clearSelection()">Clear Sel.</button>
      <button *ngIf="currentProfile === 'data'" [popper]="tooltip3" class="btn blue" (click)="selectNotGeoreferenced($event)" >Sel. not Georef.</button>
      <button *ngIf="currentProfile === 'data'" [popper]="tooltip4" class="btn blue" (click)="selectNotDigitalized($event)" >Sel. not Digital</button>
      <div class="separator"></div>
      <button *ngIf="currentProfile === 'data' || currentProfile === 'developer'" [popper]="tooltip7" class="btn lightblue" [disabled]="selectedNodes.length <= 0" (click)="duplicate($event)" >Copy ({{selectedNodes.length}})</button>
      <button [popper]="tooltip8" class="btn lightblue" [disabled]="selectedNodes.length <= 0" (click)="delete($event)" >Delete ({{selectedNodes.length}})</button>
      <button [popper]="tooltip9" class="btn lightblue" (click)="addRow()">Add layout</button>

      <div style="float: right">
        <input *ngIf="currentProfile === 'data' || currentProfile === 'developer'"  #importFile type="file" name="file" id="file" accept=".xls,.xlsx" class="inputfile" (change)="importExcel($event.target.files)" />
        <label *ngIf="currentProfile === 'data' || currentProfile === 'developer'"  [popper]="tooltip12" [popperPlacement]="'top-end'"  for="file" class="btn blue" >Import Excel file</label>
        <div *ngIf="currentProfile === 'data' || currentProfile === 'developer'"  class="sim-info" [popper]="infoExcelPopper" [popperPlacement]="'top-end'" (click)="showInfoExcel()">
          <i class="fa fa-info-circle"></i>
        </div>
        &nbsp;
        <button [popper]="tooltip10" [popperPlacement]="'top-end'" class="btn blue" (click)="exportSelected()" [disabled]="selectedNodes.length<=0"  > CSV selected</button>
        <button [popper]="tooltip11" [popperPlacement]="'top-end'" class="btn blue" (click)="export()" > CSV </button>
      </div>

    </div>
  </div>
</div>
<div class="containter-full-width full-height">
  <ag-grid-angular
    *ngIf="!loading && !generalError && gridOptions"
    style="width: 100%; height: 100%;"
    class="ag-theme-material"
    [gridOptions]="gridOptions">
  </ag-grid-angular>
</div>



<!-- Tooltips -->

<popper-content #infoExcelPopper >Excel import instructions</popper-content>

<popper-content #tooltip1 >Remove the selection if any</popper-content>
<popper-content #tooltip2 >Remove the column filters if any</popper-content>
<popper-content #tooltip3 >Select the layouts that were not georeferenced yet</popper-content>
<popper-content #tooltip4 >Select the layouts that were not digitalized yet</popper-content>

<popper-content #tooltip5 >Batch georeference in Swiss Topo (confirm the position of the layout in the building) the selected layouts.</popper-content>
<popper-content #tooltip6 >Batch georeference in Open Street Maps (confirm the position of the layout in the building) the selected layouts</popper-content>
<popper-content #tooltip7 >Create a copy of every selected layout</popper-content>
<popper-content #tooltip8 >Delete the current selected layout</popper-content>

<popper-content #tooltip9 >Create an empty layout</popper-content>

<popper-content #tooltip10 >Build a semicolon separated .CSV file to import in Excel with all the selected elements in this table</popper-content>
<popper-content #tooltip11 >Build a semicolon separated .CSV file to import in Excel with all the elements in this table</popper-content>
<popper-content #tooltip12 >Import a .xsl or .xlsx file to add new elements or update the existing ones when the element id is provided</popper-content>

<popper-content #tooltip13 >Request the status of the simulations from the selected layouts</popper-content>
<popper-content #tooltip14 >Order the start simulations for the selected layouts</popper-content>

<popper-content #tooltipAddSource > Adds a floor number with an Archilogic Id or URL to an archilogic model to be digitalized</popper-content>
<popper-content #tooltipClearSource > Clears all the floors provided</popper-content>
