@import 'colors';

:host {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 200px);
}

h1{
  display: inline-block;
  margin-right: 36px;
  vertical-align: top;
}

button{
  display: inline-block;
}
