:host {
  max-width: 300px;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}
.title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.detail {
  font-size: 16px;
  color: #868e96;
}
