@import 'colors';
@import 'media';

.error {
  color: $new_error_red;
  margin-bottom: 16px;
}

.contents {
  margin: 0 auto;
  width: 300px;
  color: white !important;
  // padding-top: 128px;
  display: flex;
  flex-direction: column;
}

.input .subscript .info,
.input label {
  color: white !important;
  opacity: 0.7;
}



button[type='submit'] {
  margin-top: 4px;
  width: 100%;
  justify-content: center;
  padding: 8px 0;
  height: 40px;
  font-size: 22px;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    line-height: 32px;
  }
}

hr {
  margin: 24px 0px;
}
