<h1>
  Map overview
</h1>
<div *ngIf="generalError" class="generalError" [innerHTML]="generalError"></div>
<div *ngIf="loading && !generalError" class="loading" > Loading data... </div>
<div *ngIf="!loading && !generalError" class="topControls">
  <div>Click on a building to view the details. Georeferenced buildings: {{numGeoreferencedBuildings}}</div>
  <div>
    <button [popper]="centerMapPU" class="btn blue" (click)="centerMap()">Center View</button>
  </div>
</div>

<div id="map" class="map"></div>

<popper-content #centerMapPU >Center the map to view all the buildings.</popper-content>
