$dark: #252c3a;
$light: #e2e4e8;
$white: #ffffff;

$background: #fafbfd;
$red: #f25f5c;
$yellow: #ffe066;
$blue: #247ba0;
$orange: #a0552a;

$background-alt: #f8f9fa;
$dark-alt: #2b2b2b;
$green-alt: #3fba8f;
$blue-alt: #489aba;
$yellow-alt: #b9ba50;
$orange-alt: #ba7746;
$off-white-alt: #f4f5f6;

$grey: #dee2e6;
$text: #495057;
$green: #67dc78;
// $green: #3fba8f;
$orange: #fbac33;
$purple: #b4519e;


// Matthias said he likes this green
$green-beauty: #62f09a;

/**
  New definitions
*/

$new_background_blue: #2e67b1;
$new_button_blue: #184e82;
$new_light_blue: #bce6fa;
$new_table_header_blue: #5c91cc;

$new_background_progress_bar: #ebebeb;
$new_text_dark: #2c353e;
$new_text_grey: #BBBCB3;

$new_error_red: #b71f33;

$new_boders_grey: #ebebeb;


$new_highlighted_blue: #bce6fa;
$new_highlighted_red: #f2757b;
$new_highlighted_yellow: #fbdb4f;
$new_highlighted_purple: #6258a5;
$new_highlighted_green: #6ec6b5;
















