@import 'colors';

.ngxp__container {

  text-transform: none !important;

  &.arch {
    border: 1px solid $new_table_header_blue;
    background: $new_table_header_blue;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    box-shadow: none;
    padding: 8px 16px;
    z-index: 20;

    .ngxp__arrow {
      border-color: $new_table_header_blue;
    }
  }
}
