<h1>
  Unit overview
</h1>

<button class="btn green" [disabled]="selectedNodes.length<=0" (click)="clearSelection()">Clear Selection</button>
<button class="btn green" [disabled]="!filterModelSet" (click)="clearFilters()">Clear Filters</button>
<button class="btn green" (click)="georeference($event)" [disabled]="selectedNodes.length<=0" >Georeference ({{selectedNodes.length}})</button>
<button class="btn green" (click)="delete($event)" [disabled]="selectedNodes.length<=0" >Delete ({{selectedNodes.length}})</button>

<ag-grid-angular
  style="width: 100%; height: 100%;"
  class="ag-theme-balham"
  [gridOptions]="gridOptions">
</ag-grid-angular>
