<div class="top_inner_background"></div>
<div class="containter-full-width">
  <div *ngIf="generalError" class="generalError" [innerHTML]="generalError"></div>
  <div *ngIf="loading && !generalError" class="loading" > Loading data... </div>
  <div *ngIf="!loading && !generalError" class="topControls">
    <div class="buttonRow">&nbsp;</div>
    <div class="buttonRow">
      <button [popper]="tooltip1" class="btn blue" [disabled]="selectedNodes.length<=0" (click)="clearSelection()">Clear Selection</button>
      <button [popper]="tooltip2" class="btn blue" [disabled]="!filterModelSet" (click)="clearFilters()">Clear Filters</button>
      <div class="separator"></div>
      <button *ngIf="currentProfile === 'data' || currentProfile === 'developer'" [popper]="tooltip3" class="btn lightblue" (click)="duplicate($event)" [disabled]="selectedNodes.length<=0" >Copy ({{selectedNodes.length}})</button>
      <button [popper]="tooltip4" class="btn lightblue" (click)="delete($event)" [disabled]="selectedNodes.length<=0" >Delete ({{selectedNodes.length}})</button>
      <button [popper]="tooltip5" class="btn lightblue" (click)="addRow()">Add unit</button>

      <div style="float: right">
        <button [popper]="tooltip6" [popperPlacement]="'top-end'"
                class="btn blue" (click)="exportSelected()" [disabled]="selectedNodes.length<=0"  > CSV selected</button>
        <button [popper]="tooltip7" [popperPlacement]="'top-end'"
                class="btn blue" (click)="export()" > CSV </button>
        &nbsp;
        <input *ngIf="currentProfile === 'data' || currentProfile === 'developer'" #importFile type="file" name="file" id="file" accept=".xls,.xlsx" class="inputfile" (change)="importExcel($event.target.files)" />
        <label *ngIf="currentProfile === 'data' || currentProfile === 'developer'" [popper]="tooltip8" [popperPlacement]="'top-end'"
               for="file" class="btn blue" >Import Excel file</label>
        <div *ngIf="currentProfile === 'data' || currentProfile === 'developer'" class="sim-info" [popper]="infoExcelPopper" [popperPlacement]="'top-end'" (click)="showInfoExcel()">
          <i class="fa fa-info-circle"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="containter-full-width full-height">
  <ag-grid-angular
    *ngIf="!loading && !generalError && gridOptions"
    style="width: 100%; height: 100%;"
    class="ag-theme-material"
    [gridOptions]="gridOptions">
  </ag-grid-angular>
</div>

<!-- Tooltips -->

<popper-content #infoExcelPopper >Excel import instructions</popper-content>

<popper-content #tooltip1  >Remove the selection if any</popper-content>
<popper-content #tooltip2  >Remove the column filters if any</popper-content>
<popper-content #tooltip3  >Create a copy of every selected unit</popper-content>
<popper-content #tooltip4  >Delete the current selected unit</popper-content>
<popper-content #tooltip5  >Create an empty unit</popper-content>
<popper-content #tooltip6  >Build a semicolon separated .CSV file to import in Excel with all the selected elements in this table</popper-content>
<popper-content #tooltip7  >Build a semicolon separated .CSV file to import in Excel with all the elements in this table</popper-content>
<popper-content #tooltip8  >Import a .xsl or .xlsx file to add new elements or update the existing ones when the element id is provided</popper-content>

