@import 'media';
@import 'colors';

.editorContainer {
  margin-top: 20px;
  height: calc(100vh - 280px);
}

.buttonRow{
  button{
    display: inline-block;
  }
}

.sim-info{
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  color: $white;

  &:hover {
    color: $new_light_blue;
  }
}

.errorFound{
  position: absolute;
  top: 230px;
  width: 600px;
  margin-left: -300px;
  left: 50%;
  background: rgba(211, 0, 15, 0.6);
  border-radius: 3px;
  z-index: 10;
  color: $white;
  padding: 8px 16px;
  font-size: 28px;
  text-align: center;
}
