<div class="top_inner_background"></div>
<div class="containter-full-width">
  <div class="topControls">
    <div class="buttonRow">

    </div>
    <div class="buttonRow">

      <button [popper]="save" class="btn blue" (click)="override()">Save Layout</button>
      <button [popper]="saveNew" class="btn blue" (click)="saveAsNew()">Save as New</button>
      &nbsp;&nbsp;&nbsp;
      <div class="sim-info" [popper]="infoEditorPopper" (click)="showInfoEditor()">
        <i class="fa fa-info-circle"></i>
        <span>
          How to use the editor
        </span>
      </div>

      <div style="float: right">
        <toggle-button [popper]="sidebar" (toggled)=showElementBar(!$event) [value]="!elementBar">
          ELEMENTS
        </toggle-button>
      </div>
    </div>
  </div>
</div>
<div class="containter-full-width editorContainer">
  <floorplan-editor *ngIf="modelStructure"
                    [modelStructure]="modelStructure" ></floorplan-editor>

  <div *ngIf="error" class="errorFound" [innerHTML]="error"> </div>
  <div *ngIf="loading" class="loading">
    Loading
  </div>
</div>
<create-layout *ngIf="newOfficeDialog" [layout]="layout" (close)="saveAsNewClose()"></create-layout>

<!-- Tooltips -->
<popper-content #sidebar>Show/Hide element sidebar selector</popper-content>
<popper-content #save>Override Layout</popper-content>
<popper-content #saveNew>Save Layout as new</popper-content>

<popper-content #infoEditorPopper >Show editor instructions</popper-content>
