@import 'colors';
@import 'media';

.error {
  color: red;
  margin-bottom: 16px;
}

.contents {
  margin: 0 auto;
  width: 300px;
  // padding-top: 128px;
  display: flex;
  flex-direction: column;
}

button[type='submit'] {
  margin-top: 1em;
  width: 100%;
  justify-content: center;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    line-height: 32px;
  }
}

hr {
  margin: 24px 0;
}

.batch{
  width: 160px;
  margin: 50px 0 0 0;
}

.portfolio{
  margin: 16px 0 0 0;
}
