@import 'colors';

:host {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 250px);
}

h1{
  display: inline-block;
  margin-right: 36px;
  vertical-align: top;
}

button{
  display: inline-block;
}

label {
  color: $new_text_grey;
  margin-right: 4px;
}

select {
  background: white;
  padding: 0 14px;
  cursor: pointer;
  height: 36px;
  color:$new_text_dark;
}

.map{
  width: 100%;
  height: 100%;
  background: white;
}

.selectMap{
  display: inline-block;
}

.sim-info{
  display: inline-block;
  color: $new_table_header_blue;
  cursor: pointer;

  &:hover {
    color: $new_light_blue;
  }
}

.whiteText{
  color: white;
}

.legend{
  position: absolute;
  bottom: 85px;
  left: 50px;
  width: 500px;
  height: 40px;
  z-index: 2000;
  background: white;
}
