<div class="top_inner_background"></div>
<div class="containter-full-width">
  <div *ngIf="generalError" class="generalError" [innerHTML]="generalError"></div>
  <div *ngIf="loading && !generalError" class="loading" > Loading data... </div>
  <div *ngIf="!loading && !generalError" class="topControls">
    <div class="buttonRow">
      <button [popper]="tooltip1" class="btn blue" [disabled]="selectedNodes.length<=0" (click)="clearSelection()">Clear Selection</button>
      <button [popper]="tooltip2" class="btn blue" [disabled]="!filterModelSet" (click)="clearFilters()">Clear Filters</button>

      <div style="float: right">
        <button [popper]="tooltip3" class="btn yellow" (click)="exportSelected()" [disabled]="selectedNodes.length<=0"  > CSV selected ({{selectedNodes.length}})</button>
        <button [popper]="tooltip4" class="btn yellow" (click)="export()" > CSV </button>
      </div>
    </div>
  </div>
</div>
<div class="containter-full-width full-height">
  <ag-grid-angular
    *ngIf="!loading && !generalError && gridOptions"
    style="width: 100%; height: 100%;"
    class="ag-theme-material"
    [gridOptions]="gridOptions">
  </ag-grid-angular>
</div>

<!-- Tooltips -->

<popper-content #tooltip1 >Remove the selection if any</popper-content>
<popper-content #tooltip2 >Remove the column filters if any</popper-content>

<popper-content #tooltip3 >Build a semicolon separated .CSV file to import in Excel with all the selected elements in this table</popper-content>
<popper-content #tooltip4 >Build a semicolon separated .CSV file to import in Excel with all the elements in this table</popper-content>
