<nav-bar></nav-bar>
<div class="sub-nav-wrapper">
  <div class="sub-nav containter-full-width">
    <app-breadcrumb></app-breadcrumb>
    <app-navigation></app-navigation>
  </div>
</div>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<div class="footer"><!-- http://www.archilyse.com/#contact-us -->
  <div class="links"><a href="mailto:support@archilyse.com?subject=Portfolio manager support" target="_blank"><i class="fas fa-envelope"></i> Support</a></div>
  <div class="coplyright">© 2018 Archilyse</div>
</div>

<div class="background dusty">
  <div class="dark-section"></div>
</div>


<popper-content #tooltip1 >Tool to review your organization and user parameters and billing details</popper-content>
<popper-content #tooltip2 >Tool to edit or create versions of the digitalized layouts</popper-content>
<popper-content #tooltip3 >Tool to split a digitalized floor into individual units</popper-content>
<popper-content #tooltip4 >Tool to georeference buildings and layouts</popper-content>
<popper-content #tooltip5 >Tool to display graphic simulations values</popper-content>

