<div class="container-lg">
  <div *ngIf="generalError" class="generalError" [innerHTML]="generalError"></div>
  <div *ngIf="loading && !generalError" class="loading" > Loading data... </div>
  <div *ngIf="!loading && !generalError" class="topControls">
    <div>
      <button [popper]="tooltip1" class="btn green" (click)="backPage()" > Back </button>
    </div>
  </div>
</div>
<div class="containter-full-width full-height">
  <pre [innerHTML]="code"></pre>
</div>

<!-- Tooltips -->

<popper-content #tooltip1 >Back to the previous page</popper-content>
