<div class="container-lg">
  <div *ngIf="generalError" class="generalError" [innerHTML]="generalError"></div>
  <div *ngIf="loading && !generalError" class="loading" > Loading data... </div>
  <div *ngIf="!loading && !generalError" class="topControls">
    <div class="buttonRow">
      <button [popper]="tooltip1" class="btn green" (click)="backPage()" > Back </button>
    </div>
    <div class="buttonRow">
      JSON simulation result, click on each object to expand.
    </div>
  </div>
</div>
<div class="containter-full-width full-height">
  <ngx-json-viewer [json]="json" [expanded]="false"></ngx-json-viewer>
</div>

<!-- Tooltips -->
<popper-content #tooltip1 >Back to the previous page</popper-content>
