<div class="top_inner_background"></div>
<div class="containter-full-width">
  <div *ngIf="generalError" class="generalError" [innerHTML]="generalError"></div>
  <div *ngIf="loading && !generalError" class="loading" > Loading data... </div>
  <div *ngIf="!loading && !generalError" class="topControls">
    <div class="buttonRow">
      &nbsp;
    </div>
    <div class="buttonRow">
      <span class="whiteText">JSON simulation result, click on each object to expand.</span>
    </div>
  </div>
</div>
<div class="containter-full-width full-height">
  <ngx-json-viewer [json]="json" [expanded]="false"></ngx-json-viewer>
</div>

<!-- Tooltips -->
