<div class="navbar container-lg">

  <a class="branding" routerLink="/">
    <div class="brand-logo">
      <!-- logo goes here -->
    </div>
    <div class="company hidden-for-phone-only">Archilyse</div>
    <!-- <div class="tool-name hidden-for-phone-only">Workplace Analytics</div> -->
  </a>

  <div class="nav-items" *ngIf="isUserLoggedIn && showOptions">
    <div class="drop-down-menu">
      <div class="trigger" (click)="toggleDropdown($event)">
        <i class="far fa-bars"></i>
      </div>
      <div class="drop-down" [ngClass]="{'active': isDropdownActive}">
        <ul class="drop-down-nav-list">
          <li class="drop-down-nav-item">
            <a routerLink="/logout" (click)="logOut()">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
