<div class="navbar containter-full-width">

  <a class="branding" routerLink="/">
    <div class="brand-logo">
      <!-- logo goes here -->
    </div>
    <div class="company hidden-for-phone-only">Archilyse</div>
    <!-- <div class="tool-name hidden-for-phone-only">Workplace Analytics</div> -->
  </a>

  <div class="nav-items" *ngIf="isUserLoggedIn && showOptions">

    <a *ngIf="currentProfile === 'developer'" [popper]="tooltip2" class="apiUsage" routerLink="/manager/log">Api usage log</a>

    <div [popper]="tooltip1" class="selectProfile">
      <label >Profile: </label>
      <select (change)="changeProfile($event)" [value]="currentProfile">
        <option value="analyst">Data analyst</option>
        <option value="data">Data input</option>
        <option value="manager">Asset Manager</option>
        <option value="developer">Software developer</option>
      </select>
    </div>

    <div class="drop-down-menu">
      <div class="trigger" (click)="toggleDropdown($event)" [popper]="'App menu'" >
        <i class="far fa-bars"></i>
      </div>
      <div class="drop-down" [ngClass]="{'active': isDropdownActive}">
        <ul class="drop-down-nav-list">
          <li class="drop-down-nav-item">
            <a [href]="urlConsole" >Console</a>
          </li>
          <li class="drop-down-nav-item">
            <a routerLink="/logout" (click)="logOut()">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<popper-content #tooltip1 >Select the visualization profile</popper-content>
<popper-content #tooltip2 >(Developers only) This menu provides information about the API request used to display the data in each menu</popper-content>
