<div class="container" [ngStyle]="styles">

  <span *ngIf="!addressSet" >Requires Address <a (click)="infoAddress()"><i class="fa fa-info-circle"></i></a></span>
  <span *ngIf="addressSet && !georeferenced" ><a (click)="georeference()">Req. Georeference</a> <a (click)="infoGeoreference()"><i class="fa fa-info-circle"></i></a></span>

  <span *ngIf="addressSet && georeferenced && complete">
    <a [href]="urlRaw" > View raw </a> &nbsp;
    <a *ngIf="urlPotencialView" [href]="urlPotencialView" > View potencial View</a>
  </span>
  <span *ngIf="addressSet && georeferenced && ready" >Failed <a (click)="requestSimulation()"> Request</a></span>
  <span *ngIf="addressSet && georeferenced && pending" >Pending <a (click)="requestStatus()"> Refresh</a></span>
  <span *ngIf="addressSet && georeferenced && failed" >Failed <a (click)="requestSimulation()"> Retry</a></span>
  <span *ngIf="addressSet && georeferenced && unknown" >Unknown <a (click)="requestStatus()"><i class="fas fa-redo"></i></a></span>
</div>
