<div class="div-percent-bar" [ngStyle]="styles">
  <div class="div-percent-value">
    <span *ngIf="!addressSet" >Requires Address <a (click)="infoAddress()"><i class="fa fa-info-circle"></i></a></span>
    <span *ngIf="addressSet && !georeferenced" ><a (click)="georeference()">Req. Georeference</a> <a (click)="infoGeoreference()"><i class="fa fa-info-circle"></i></a></span>

    <span *ngIf="addressSet && georeferenced && complete">
      <a *ngIf="currentProfile === 'developer'" [routerLink]="urlRaw" > <i class="far fa-eye"></i> raw </a> &nbsp;
      <a *ngIf="urlPotencialView" [routerLink]="urlPotencialView" > <i class="far fa-eye"></i> render </a>
    </span>
    <span *ngIf="addressSet && georeferenced && ready" >Failed <a (click)="requestSimulation()"> Request</a></span>
    <span *ngIf="addressSet && georeferenced && not_requested" >Not requested <a (click)="requestSimulation()"> Request</a></span>
    <span *ngIf="addressSet && georeferenced && pending" >Pending <a (click)="requestStatus()"> Refresh</a></span>
    <span *ngIf="addressSet && georeferenced && failed" >Failed <a (click)="requestSimulation()"> Retry</a></span>
    <span *ngIf="addressSet && georeferenced && unknown" >Unknown <a (click)="requestStatus()"><i class="fas fa-redo"></i></a></span>
  </div>
  <div class=div-outer-div></div>
</div>
