@import 'colors';
@import 'media';

:host {
  justify-self: end;
  align-self: center;
  font-weight: 300;
  font-size: 14px;
  color: white;

  @include for-tablet-landscape-down {
    font-size: 10px;
  }

  /* Style the list */
  ul.navigation {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  /* Display list items side by side */
  ul.navigation li {
    // padding: 0 8px;
    margin-left: 20px;
    display: inline;
    user-select: none;
    position: relative;
    // font-size: 18px;
    span::after {
      content: '';
      // min-width: 4px;
      // min-height: 4px;
      height: 2px;
      // width: 100%;
      background: white;
      position: absolute;
      // left: calc(50% - 2px);
      left: -3px;
      right: 0;
      bottom: -11px;
      transform: scaleX(1);
      transition: transform 300ms ease;
    }
    /**
    &:before {
      padding: 8px 2px 8px 4px;
      color: white;
      content: '|';
    }
    &:first-of-type {
      span::after {
        left: 0;
      }
      &:before {
        content: '';
      }
    }
    */
  }

  /* Add a color to all links inside the list */
  ul.navigation li a {
    color: $new_text_grey;

    text-decoration: none;
    transform: opacity 100ms ease;
    user-select: unset;
    cursor: pointer;

    &::after {
      transform: scaleX(0.2);
      color: white;
    }
  }

  /* Add a color on mouse-over */
  ul.navigation li a:hover {
    opacity: 1;
      color: $new_table_header_blue;
  }
}
