<ul class="breadcrumb" [ngClass]="{'multiple': breadcrumb?.length > 2}">
  <li *ngFor="let crumb of breadcrumb" class="breadcrumb-item">
    <span *ngIf="crumb.title" class="link-title">{{ crumb.title }}</span>
    <a *ngIf="crumb.link" routerLink="{{crumb.link}}">
      <span class="back-icon">
        <i class="far fa-ellipsis-h"></i>
      </span>
      <span class="link-title">{{ crumb.title }}</span>
    </a>
  </li>
</ul>

<button *ngIf="showBack" class="btn blue backButton" (click)="backPage()" > Back </button>
<button *ngIf="showPortfolio" class="btn blue backButton" (click)="backPortfolio()" > Back to portfolio </button>


